@import url('https://fonts.googleapis.com/css2?family=Charmonman&family=Dr+Sugiyama&family=Princess+Sofia&family=Sofia&display=swap');


::-webkit-scrollbar {
 width: 11px;
 height: 11px;
}
::-webkit-scrollbar-thumb {
 background: linear-gradient(48deg, #89D899 42%,#d9a5e0 69%);
 border-radius: 8px;
}
::-webkit-scrollbar-thumb:hover{
 background: linear-gradient(13deg, #709874 14%,#f6cde2 64%);
}
::-webkit-scrollbar-track{
 background: #ffffff;
 border-radius: 10px;
 box-shadow: inset 7px 10px 12px #f0f0f0;
}

h1{
  font-size: 7vw ;
  margin-top: 15px;
  font-family: 'Sofia', cursive;
  text-align: center;
  color: #ffffff !important;
  text-shadow: 2px 4px 4px rgba(0,0,0,0.2),
                 0px -5px 10px rgba(255,255,255,0.15);
}
@media (max-width: 480px){
    h1{
        font-size: 17vw;
    }
}
strong{
    background-color: rgba(204,148,233,1);
}

table{
    display: block;
    justify-content: space-around;
    min-width:70%;
    max-width: 100%;
    overflow-x: scroll;
    border: 3px dotted #ffffff;
    margin: auto;
    background: linear-gradient(102deg, #da65d4, #713873, #c21bbb, #c799e9);
    background-size: 800% 800%;

    -webkit-animation: AnimationName 28s ease infinite;
    -moz-animation: AnimationName 28s ease infinite;
    animation: AnimationName 28s ease infinite;
}

@media (max-width:480px){
    table{
        min-width: 100%;
    }
}


@-webkit-keyframes AnimationName {
    0%{background-position:0% 45%}
    50%{background-position:100% 56%}
    100%{background-position:0% 45%}
}
@-moz-keyframes AnimationName {
    0%{background-position:0% 45%}
    50%{background-position:100% 56%}
    100%{background-position:0% 45%}
}
@keyframes AnimationName {
    0%{background-position:0% 45%}
    50%{background-position:100% 56%}
    100%{background-position:0% 45%}
}

table td a{
    color: #5ff374!important;
}

td{
    white-space: nowrap;
    border: 1px solid #ffffff !important;
    justify-content: space-between;
}

body{
    overflow-x: hidden !important;
    justify-content: space-between;
    background: linear-gradient(149deg, #5fbe86, #d75cba, #a66596, #5ff374, #f195f5, #226e30, #acfaba, #dcacfa);
    background-size: 1600% 1600%;

    -webkit-animation: backgroundAnimation 53s ease infinite;
    -moz-animation: backgroundAnimation 53s ease infinite;
    animation: backgroundAnimation 53s ease infinite;
}

@-webkit-keyframes backgroundAnimation {
    0%{background-position:0% 74%}
    50%{background-position:100% 27%}
    100%{background-position:0% 74%}
}
@-moz-keyframes backgroundAnimation {
    0%{background-position:0% 74%}
    50%{background-position:100% 27%}
    100%{background-position:0% 74%}
}
@keyframes backgroundAnimation {
    0%{background-position:0% 74%}
    50%{background-position:100% 27%}
    100%{background-position:0% 74%}
}

.navbar-custom{
    background-color: #39563c;
}

.navbar-custom a{
    color: #ffffff !important;
}

.dropdown-menu{
    background-color: #709874;
}

.dropdown-item:hover{
    background-color: #b67295;
    color: #F6CDE2;
}

.nav-item:hover{
    background-color: #F6CDE2;
    color:#709874 !important;

}

.sr-only{
    background-color: #D2A9BE;
}

.nav-item:active{
    background-color: #D2A9BE;
}


#accordion{
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 3vh;
}

.card-header{
    background-color: #F6CDE2;
    color: #709874;
}

.btn-link{
    color: #405642;
    text-decoration: none;
}

.btn-link:hover{
    color: #b67295;
}

.card-body{
    color: white;
    background-color: #709874;
}

.card-body h2{
  color: #F6CDE2;
}
.card-body h3{
  color: #5FF374;
}

.card-body a{
  color: #2c5630;
}

.downloadbt{
  background-color: #39563c;
  display:block;
  margin: 10px auto;
}
.downloadbt a{
  color: #F6CDE2 !important;
  padding: 5px;
}

.downloadbt:hover{
  background-color: #F6CDE2;
}

.downloadbt a{
  color: #2c5630;

}
img{
  max-width: 90%;
  border-radius: 5px;
  display: block;
  margin: auto;
  border: 10px solid;
  border-color: #F6CDE2;
}

.function{
  word-wrap: break-word;
  max-width: inherit;
}


.codebg{
  background-color: #a0d4a6;
  border: 4px dotted;
  border-color: #2c5630;
  padding:8px;
}

.info{
  background-color: #b67295;
  color: #FFFFFF;
  border-radius: 5%;
  margin: 4%;
  padding: 2%;
}

.remind{
  font-size: 120%;
  font-stretch: extra-expanded;
  color: #a0d4a6;
}
