.navbar-custom{
    background-color: #a0d4a6;
    color: aliceblue;
}

.dropdown-menu{
    background-color: #709874;
}

.dropdown-item:hover{
    background-color: #b67295;
    color: #F6CDE2;
}

.nav-item:hover{
    background-color: #F6CDE2;

}

.sr-only{
    background-color: #D2A9BE;
}

.nav-item:active{
    background-color: #D2A9BE;
}

h1{
    color: #b67295;
    text-align: center;
}

#accordion{
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 3vh;
}

.card-header{
    background-color: #F6CDE2;
    color: #709874;
}

.btn-link{
    color: #405642;
    text-decoration: none;
}

.btn-link:hover{
    color: #b67295;
}

.card-body{
    color: white;
    background-color: #709874;
}

.card-body h2{
  color: #F6CDE2;
}

.card-body a{
  color: #2c5630;
}

.downloadbt{
  background-color: #a0d4a6;
  display:flex;
}

.downloadbt:hover{
  background-color: #F6CDE2;
}

.downloadbt a{
  color: #2c5630;

}
img{
  max-width: inherit;
  border-radius: 5px;
  display: inline-flex;
  object-fit: container;
  width: 100%;
  border: 10px solid;
  border-color: #F6CDE2;
  margin: 10px;
}

.function{
  word-wrap: break-word;
  max-width: inherit;
}


.codebg{
  background-color: #a0d4a6;
  border: 4px dotted;
  border-color: #2c5630;
  padding:8px;
}

.info{
  background-color: #b67295;
  color: #FFFFFF;
  border-radius: 5%;
  margin: 4%;
  padding: 2%;
}

.remind{
  font-size: 120%;
  font-stretch: extra-expanded;
  color: #a0d4a6;
}
